.remodal.order(data-remodal-id=content.general.modal.success.id)
  button.remodal-close.order__close(data-remodal-action='close')
    +icon(content.modal.icon)
  .order__wrap
    .success
      .success__icon
        +icon(content.success.icon)
      h3.success__title= content.success.title
      p.success__text Ваша заявка успешно отправлена. Мы&nbsp;внимательно изучим ее и свяжемся с&nbsp;вами в течение суток.