extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	main.main
		include ../section/top-banner
		include ../section/info
		include ../section/review
		include ../section/archive
		include ../section/contacts