// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */

/* Стили секции top-banner */
@import 'section/top-banner.styl'
/* Стили секции top-banner */

/* Стили секции info */
@import 'section/info.styl'
/* Стили секции info */

/* Стили секции review */
@import 'section/review.styl'
/* Стили секции review */

/* Стили секции contacts */
@import 'section/contacts.styl'
/* Стили секции contacts */

/* Стили секции archive */
@import 'section/archive.styl'
/* Стили секции archive */


// Компоненты
@import "common/common.styl"