// ОБЩИЕ СТИЛИ

body
	overflow hidden
	// overflow-x hidden

.container 
	width 100%
	max-width 1320px
	margin 0 auto
	padding 0 20px

.wrapper
	position relative

.section
	width 100%
	height auto
	min-height 100vh

.main
	transition all .4s;