// ОБЩИЕ СТИЛИ

body
	overflow hidden
	@media (max-width breakpoint-md)
		overflow visible
		background-color bunting

.container 
	width 100%
	max-width 1320px
	margin 0 auto
	padding 0 20px

.wrapper
	position relative

.section
	width 100%
	height auto
	min-height 100vh
	display flex
	flex-direction column
	justify-content center
	&[data-scroll]
		height 100vh
		overflow-y scroll
		position relative
		z-index 2
		justify-content flex-start
	@media (max-width breakpoint-md)
		justify-content flex-start
		min-height auto
		&[data-scroll]
			overflow-y visible
			height auto		

.main
	transition all .4s;
	&.non-first
		position relative
		z-index 10
	&.z999
		z-index 999