// ЦВЕТА

carnation = #f25454
kournikova = #ffd177
bunting = #12243e

button-color-hover = #182F4C

// РАЗМЕРЫ

standart-border-radius = 16px
breakpoint-xl = 1200px
breakpoint-lg = 1024px
breakpoint-md = 768px
breakpoint-sm = 480px

// ШРИФТЫ

font-montserrat = 'Montserrat', Arial, sans-serif
font-lora = 'Lora', Arial, sans-serif
font-open = 'Open Sans', Arial, sans-serif