// ЦВЕТА

carnation = #f25454
kournikova = #ffd177
bunting = #12243e

// РАЗМЕРЫ


// ШРИФТЫ

font-montserrat = 'Montserrat', Arial, sans-serif
font-lora = 'Lora', Arial, sans-serif
font-open = 'Open Sans', Arial, sans-serif