// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"
/* Конец блока buttons */

/* Cтили блока nav */
@import "nav.styl"
/* Конец блока nav */

/* Cтили блока form */
@import "form.styl"
/* Конец блока form */

/* Cтили блока order */
@import "order.styl"
/* Конец блока order */

/* Cтили блока logo */
@import "logo.styl"
/* Конец блока logo */

/* Cтили блока parallax */
@import "parallax.styl"
/* Конец блока parallax */