.remodal-overlay
  background rgba(#403F5F, .7)


.order
  max-width 440px
  background-image linear-gradient(258.31deg, rgba(67, 133, 117, 0.9) -0.9%, rgba(159, 128, 161, 0.9) 119.16%)
  border-radius 24px
  color #ffffff

.order__close
  left calc(100% - 40px)
  top 5px
  &:before
    display none
  &:hover
    .icon
      fill #182F4C
  .icon
    width 24px
    height 24px
    fill rgba(#182F4C, .5)
    @extend .trs

.order__title
  font-family font-montserrat
  font-size 24px
  font-weight 600
  line-height 28px
  max-width 250px
  margin 0 auto 35px