.parallax__clouds
  position fixed
  opacity 0
  @media (max-width breakpoint-md)
    display none

.parallax__clouds--1
  right 0
  bottom 0
  z-index 9

.parallax__clouds--2
  left 0
  bottom 0
  z-index 0