.about
  height 100vh
  overflow-y scroll
  position relative
  z-index 2

.about__wrap
  color white
  padding 150px 0
  display flex
  justify-content center
  flex-direction column
  align-items center

.about__subtitle
  font-family font-lora
  font-size 18px
  display block
  margin-bottom 30px

.about__title
  font-family font-montserrat
  font-size 32px
  font-weight 600
  line-height 40px
  margin-bottom 80px

.about__advantage
  width 100%
  max-width 888px
  display flex
  justify-content space-between
  margin-bottom 120px

.about__advantage-block
  width 100%
  max-width 230px
  display flex
  align-items center
  flex-direction column
  text-align center
  &+&
    margin-left 10px

.about__advantage-img
  margin-bottom 25px

.about__advantage-name
  font-family font-montserrat
  font-size 18px
  font-weight 600
  line-height 24px

.about__advantage-text
  font-family font-open
  font-size 14px
  line-height 18px