.header
  position fixed
  top 20px
  left 0
  right 0
  z-index 2
  &.header--fixed
    top 0
    height 80px
    padding 15px 0
    background-color rgba(bunting, .3)
    z-index 100
    .header__menu,
    .header__action
      padding-top 0px

.header__wrap
  display flex
  align-items center
  justify-content space-between
  padding 0 75px
  @media (max-width breakpoint-xl)
    padding 0 30px
  @media (max-width breakpoint-lg)
    padding 0

.header__logo
  @media (max-width breakpoint-md)
    z-index 100

.header__menu,
.header__action
  padding-top 25px

.header__action
  @media (max-width breakpoint-md)
    padding-top 0
    z-index -99
    opacity 0
    visibility hidden
    position fixed
    bottom 60px
    left 50%
    transform translateX(-50%)
    @extend .trs
    .btn
      color bunting
    &.menu-open
      opacity 1
      visibility visible
      z-index 100

.header__burger
  display none
  width 34px
  height 34px
  cursor pointer
  position relative
  &:before,&:after
    content ''
    display block
    width 100%
    height 3px
    background-color #fff
    border-radius 2px
    position absolute
    @extend .trs
  &:before
    top 10px
  &:after
    bottom 10px
  @media (max-width breakpoint-md)
    display block
    &.menu-open
      z-index 99
      &:before,&:after
        background-color bunting
      &:before
        transform rotate(45deg)
        top 15px
      &:after
        transform rotate(-45deg)
        bottom 15px

  