.header
  position absolute
  top 20px
  left 0
  right 0
  z-index 2
  &.header--fixed
    position fixed
    top 0
    height 80px
    padding 15px 0
    background-color rgba(bunting, .3)
    z-index 100
    .header__menu,
    .header__action
      padding-top 0px

.header__wrap
  display flex
  align-items center
  justify-content space-between
  padding 0 75px

.header__menu,
.header__action
  padding-top 25px