.info__wrap
  padding-top 150px
  padding-bottom 90px
  width 100%
  display flex
  justify-content space-between
  max-width 1164px
  margin 0 auto
  position relative
  z-index 2

.info__promo
  width 100%
  max-width 590px
  padding-left 35px

.info__title
  color #ffffff
  font-size 32px
  font-weight 600
  line-height 32px
  margin-bottom 65px

.info__age
  margin-left -35px
  margin-bottom 40px
  display flex
  align-items center

.info__age-tab
  font-family font-montserrat
  font-size 24px
  font-weight 600
  line-height 32px
  display block
  padding 15px 35px
  cursor pointer
  border-radius 50px
  @extend .trs
  border 4px solid transparent
  &.active
    border-color rgba(white, .2)

.info__age-block
  display none
  &.active
    display block

.info__language
  margin-bottom 40px
  display flex
  flex-direction column
  position relative

.info__language-block
  display none
  &.active
    display block

.info__language-active
  align-self flex-start
  display flex
  align-items center
  position relative
  cursor pointer
  &:after
    content ''
    display block
    position absolute
    top 5px
    right -15px
    width 8px
    height 8px
    border 2px solid transparent
    border-left-color white
    border-bottom-color white
    transform rotate(-45deg)

.info__language-active-flag
  width 18px
  height 18px
  margin-right 8px
  border-radius 50%
  overflow hidden
  border 2px solid rgba(white, .2)
  position relative
  img 
    max-width 22px
    absolute-center()

.info__language-active-text
  font-family font-montserrat
  font-size 18px
  font-weight 600

.info__language-tabs
  position absolute
  top calc(100% + 20px)
  @extend .trs
  &.hide
    opacity 0
    visibility hidden

.info__language-tab
  font-family font-montserrat
  font-size 18px
  font-weight 600
  line-height 32px
  margin 0 25px
  cursor pointer
  @extend .trs
  &:hover
    color kournikova
  &.active
    color kournikova
    cursor default

.info__group-block
  display none
  &.active
    display block

.info__group-tabs
  display flex
  align-items center
  border-bottom 2px solid rgba(white, .2)
  margin-bottom 25px
  padding-bottom 15px

.info__group-tab
  color #ffffff
  font-size 14px
  font-weight 700
  text-transform uppercase
  padding 10px 0
  cursor pointer
  @extend .trs
  &+&
    margin-left 40px
  &.active
    color kournikova

.ig__header
  display flex
  align-items center
  margin-bottom 40px
  .icon
    width 16px
    height 16px
    fill rgba(white, .5)

.ig__header-block
  display flex
  align-items center
  &+&
    margin-left 40px
  span
    font-size 14px
    font-weight 400

.ig__header-icon
  margin-right 10px

.ig__text
  font-size 14px
  line-height 24px
  margin-bottom 40px

.ig__heading
  display flex
  align-items center
  margin-bottom 40px

.ig__heading-pic
  margin-right 25px
  width 48px
  height 48px
  overflow hidden
  border-radius 50%

.ig__heading-post
  font-family font-lora
  font-size 14px
  margin-bottom 10px

.ig__heading-name
  font-size 14px
  font-weight 700

.ig__descr
  display flex
  flex-wrap wrap
  margin 0 -20px 55px

.ig__descr-block
  max-width 246px
  width 100%
  margin 0 20px 25px
  display flex
  align-items center
  position relative
  cursor pointer

.ig__descr-icon
  margin-right 15px
  .icon
    width 32px
    height 32px
    fill white

.ig__excerpt-subtext
  position absolute
  opacity 0.5
  font-size 10px
  line-height 12px
  top 100%
  left 46px
  right 30px
  font-style italic

.ig__cost-line
  display flex
  align-items center
  margin-bottom 15px

.ig__cost-price
  color kournikova
  font-family font-montserrat
  font-size 24px
  font-weight 600
  display block
  margin-right 5px

.ig__cost-in,
.ig__cost-quality
  font-size 14px
  font-weight 700

.ig__cost-quality
  display block
  margin-left 5px
  opacity 0.5

.ig__cost-descr
  color rgba(white, .5)
  font-size 10px
  font-weight 400
  line-height 12px
  max-width 250px

.info__action
  margin-top 20px
  margin-bottom 20px

.info__warning-row
  display flex
  align-items center
  margin-bottom 10px

.info__warning-icon
  .icon
    width 14px
    height 14px
    fill rgba(white, .5)
    margin-right 10px

.info__warning-text
  font-size 14px
  font-weight 400

.info__warning-descr
  font-size 10px
  line-height 12px

