.top-banner
  background-color #12233E
  position relative
  z-index 0
  .container
    height 100vh
    display flex
    flex-direction column
    justify-content center
  @media (max-width breakpoint-md)
    margin-bottom 80px
    .container
      height auto
      display block

.top-banner__bg
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 0
  transform-origin center
  transform scale(1)
  transition all .8s ease-out
  background-position center center
  background-size cover
  img
    min-width 100%
  &.hide
    opacity 0
    transform scale(2)
  @media (max-width breakpoint-md)
    &.hide
      opacity 1
      transform scale(2)


.top-banner__bg-clouds
  position fixed
  bottom 0
  left 0
  right 0
  top 0
  background-position bottom
  background-repeat repeat-x
  opacity 0
  &--1
    animation cloudsLinearMove 300s linear infinite
    z-index 10
  &--2
    animation cloudsLinearMove 600s linear infinite
  @media (max-width breakpoint-md)
    opacity 1
    background-size 90%

@keyframes cloudsLinearMove {
  from { background-position: -10000px bottom;}
  to { background-position: 0 bottom; }
}

.top-banner__wrap
  max-width 1033px
  width 100%
  margin 0 auto
  display flex
  align-items center
  justify-content space-between
  padding-top 80px
  z-index 3
  @media (max-width breakpoint-md)
    padding-top 100px
    display block
    text-align center

.top-banner__info
  width 100%
  max-width 400px
  position relative
  z-index 12
  @media (max-width breakpoint-md)
    max-width 100%
    margin-bottom 30px

.top-banner__title
  margin-bottom 35px
  font-family font-montserrat
  font-size 48px
  font-weight 700
  color #fff
  transition all .4s
  &.hide
    transform translateY(50px)
    opacity 0
  @media (max-width breakpoint-lg)
    font-size 40px
  @media (max-width breakpoint-md)
    max-width 320px
    margin 0 auto 30px
    font-size 40px
    line-height 42px
    &.hide
      opacity 1
      transform translateY(0px)

.top-banner__descr
  color #ffffff
  font-family font-lora
  font-size 18px
  font-style italic
  font-weight 400
  line-height 30px
  margin-bottom 55px
  max-width 300px
  transition all .4s
  transition-delay .2s
  &.hide
    transform translateY(50px)
    opacity 0
  @media (max-width breakpoint-md)
    font-size 16px
    margin 0 auto 40px
    text-align center
    &.hide
      opacity 1
      transform translateY(0px)

.top-banner__btn
  transition all .4s
  &.trs-delay
    transition-delay .4s
  &.hide
    transform translateY(50px)
    opacity 0
  &.btn
    width 300px
    height 60px
  @media (max-width breakpoint-md)
    margin 0 auto
    &.hide
      opacity 1
      transform translateY(0px)

.top-banner__img
  flex none
  margin-left 10px
  position relative
  z-index 5
  @media (max-width breakpoint-md)
    margin-left 0
    background url(../img/content/top-banner/img.png) center no-repeat
    background-size contain
    height 340px

.tbt__slider
  display flex
  position relative

.tbt__list
  height 45px
  @media (max-width breakpoint-md)
    max-width 100%

.tbt__item
  @extend .trs
  &.slick-slide
    height 45px
    opacity 0
  &.slick-active
    opacity 1

.tbt__wrap
  display flex
  color kournikova
  @media (max-width breakpoint-md)
    justify-content center

.tbt__arrows
  position absolute
  left -25px
  top -5px
  @media (max-width breakpoint-lg)
    left -15px
  @media (max-width breakpoint-md)
    position static

.tbt__arrow
  width 14px
  height 14px
  cursor pointer
  .icon
    width 14px
    height 14px
    fill kournikova
    @extend .trs
  &:hover
    .icon
      opacity 0.8
  @media (max-width breakpoint-md)
    position absolute
    top 50%
    transform translateY(-50%) rotate(-90deg)
    width 36px
    height 36px
    &--prev
      left -25px
    &--next
      right -25px

.top-banner__moon
  position relative
  overflow hidden
  border-radius 50%
  transform-origin center
  transition all .7s ease-out
  transform scale(1)
  box-shadow 0px 0px 50px 0px rgba(255,212,126,1)
  &.hide
    transform scale(0)
  @media (max-width breakpoint-md)
    display none

.top-banner__books
  position absolute
  bottom -2px
  left 50%
  transition all .9s ease-out
  transform translate(-50%, 0)
  img
    max-width none
  &.hide
    transform translate(-50%, 300px)
  @media (max-width breakpoint-md)
    display none


.top-banner__book-item
  position absolute
  transform none
  transition all .4s ease-in-out
  &.trs-none
    transition none
  img
    max-width none
  &--1
    top 12%
    left 37%
    // transition-delay .1s
  &--2
    top 32%
    left 1%
    // transition-delay .05s
  &--3
    top 22%
    left 77%
    // transition-delay .07s
  &--4
    top 4%
    left 69%
    // transition-delay .03s
  &--5
    top -5%
    left -15%
    // transition-delay .01s
  &--6
    top -17%
    left 35%
    // transition-delay .1s
  &.hide
    opacity 0
    top 50%
    left 50%
    transform translate(-50%, -50%)
  @media (max-width breakpoint-md)
    display none