header.header
  .container
    .header__wrap
      .header__logo
        include ../modules/logo
      .header__menu
        include ../modules/menu
      .header__action
        a.btn.btn--border(href=content.general.btn.order.modal)= content.general.btn.order.text